<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Space Location</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom styles for this template -->
    <link href="views/css/style.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="views/css/base.css" /> -->
    <link rel="icon" type="image/png" href="views/images/logo.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="site-wrapper">      
      <section class="part-top table">
          <div class="table-cell">
            <img class="img-responsive center-block" id="logo" src="views/images/logo.svg" alt="logo"/>
          </div>
      </section>
      <section class="part-middle table">
        <div class="container">
          <p>Some information about location</p>
        </div>
      </section>
      <section class="part-bottom table">
        <div class="container">
          <p>The 3D Map here</p>
          <div id="solarsystem"/>
        </div>
      </section>
    </div>
  </body>

</html>
